.sprite{
    width:5643px;
height:1866px;
}

.sprite-Dies_irae{
    width:594px;
height:445px;
 background-position:-594px;
}

.sprite-UN_CUL{
    width:480px;
height:554px;
 background-position:-1079px;
}

.sprite-apple{
    width:305px;
height:314px;
 background-position:-1389px;
}

.sprite-blanc{
    width:2000px;
height:1866px;
 background-position:-3394px;
}

.sprite-Themoonandmagic{
    width:660px;
height:1000px;
 background-position:-4059px;
}

.sprite-rouge{
    width:477px;
height:470px;
 background-position:-4541px;
}

.sprite-heart{
    width:197px;
height:255px;
 background-position:-4743px;
}

.sprite-index{
    width:225px;
height:225px;
 background-position:-4973px;
}

.sprite-thekindtotem{
    width:660px;
height:1000px;
 background-position:-5638px;
}

